{% extends 'base.html' %}
{% block title %}
    {% load static %}
    Saturday
{% endblock %}
{% block css %}
	<link rel="stylesheet" href="{% static 'plan/Saturday.css' %}">
{% endblock %}
{% block body %}
    <h2 style="color: white" class="text" dir="rtl">شنبه</h2>
    <br>
    <h4 style="color: white" class="text" dir="rtl">
        ● زنگ اول : درس علوم با استاد امامی از ساعت 8:00 تا 9:10<br>
        ● زنگ تفریح اول : از ساعت 9:10 تا 9:30<br>
        ● زنگ دوم : درس فارسی با استاد رضایی از ساعت 9:30 تا 10:40<br>
        ● زنگ تفریح دوم : از ساعت 10:40 تا 11:00<br>
        ● زنگ سوم : درس ریاضی با استاد فیضی از ساعت 11:00 تا 12:10<br>
        ● زنگ تفریح سوم : از ساعت 12:10 تا 12:30<br>
        ● زنگ چهارم : درس مطالعات اجتماعی با استاد حیدری از ساعت 12:30 تا 1:40<br>
    </h4>
    <br>
    <br>
    <h6 style="color: white" dir="rtl">* در روز های شنبه و دوشنبه مدرسه چهار زنگ دارد</h6>
{% endblock %}